<?xml version="1.0" encoding="utf-8"?>
    <configuration>
        <system.webServer>
            <handlers>
                <add name="Python FastCGI"
                     path="*"
                     verb="*"
                     modules="FastCgiModule"
                     scriptProcessor="E:\应用程序\Python\python.exe|E:\应用程序\Python\lib\site-packages\wfastcgi.py"
                     resourceType="Unspecified"
                     requireAccess="Script"/>
            </handlers>
        </system.webServer>
        <appSettings>
            <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
            <add key="PYTHONPATH" value="E:\应用程序\Python\PythonCode\Django\postbar" />
            <add key="DJANGO_SETTINGS_MODULE" value="postbar.settings" />
        </appSettings>
    </configuration>